* {
    BG:    #24273aff;
    BGA:   #8aadf4ff;
    FG:    #cad3f5ff;
    FGA:   #181926ff;
    BDR:   #8aadf4ff;
    SEL:   #232634ff;
    UGT:   #cad3f5ff;
    IMG:   #eed49fff;
    OFF:   #575268ff;
    ON:    #ABE9B3ff;
}
