[user]
	name = vulekhanh
	email = 61068720+vulekhanh@users.noreply.github.com
[credential]
	credentialStore = gpg
	helper = 
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = master
