[user]
	name = vulekhanh
	email = 61068720+vulekhanh@users.noreply.github.com
[credential]
	credentialStore = cache
	helper = 
  helper = /usr/local/bin/git-credential-manager
	cacheOptions = --timeout 300
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = master
